@model KnowledgeBase.Models.ArticleListViewModel

@{
    ViewBag.Title = "Knowledge";
}

<!-- MasterPage Menu ADD button auto complete  -->
<datalist id="tags">
    @foreach(var tag in Model.GroupedArticles.Keys) {
        <option value="@tag.Name" />    
    }
</datalist>

<div id="origDivKnowledgeList">
    @{ Html.RenderPartial("_KnowledgeList", Model); }
</div>

<div id="divKnowledgeList"></div>   
<hr>

<footer>
    <p>&copy; Jplindgren 2015</p>
</footer>

@section pagescripts{
    <script>
        $(document).ready(function () {
            $('.content').readmore({
                speed: 100,
                collapsedHeight: 50,
                heightMargin: 30,
                lessLink: '<a href="#">less</a>',
                moreLink: '<a href="#">more</a>'
            });

            var items = $('.article-container');            
            items.each(function (index, item) {
                $(item).masonry({
                    // options
                    itemSelector: '.article-card',
                    percentPosition: true
                });                
            });            
            
        });
    </script>    
}
