@model KnowledgeBase.Models.KnowledgeListViewModel

@{
    ViewBag.Title = "Knowledge";
}

<!-- MasterPage Menu ADD button auto complete  -->
<datalist id="tags">
    @foreach(var tag in Model.Tags){
        <option value="@tag" />    
    }
</datalist>

<div id="origDivKnowledgeList">
    @{ Html.RenderPartial("_KnowledgeList", Model); }
</div>

<div id="divKnowledgeList"></div>   
<hr>

<footer>
    <p>&copy; Jplindgren 2015</p>
</footer>
