@{
    ViewBag.Title = "Knowledge Options";
}

<h2>Knowledge Options</h2>

<div class="row">
    <div class="col-md-12">
        <form class="form" role="form" accept-charset="UTF-8" id="exportImportForm">
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="createBackup">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Save
                </button>
            </div>
            <div class="form-group">
                <label class="sr-only" for="restoreBackup">Restore</label>
                <input type="file" class="form-control" id="restoreBackup" name="restoreBackup" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Restore</button>
            </div>
        </form>
    </div>
</div>