body {    
    font-size: 1.8em !important;
    color: #6a6c6f;    
}

body.blank {
  background-color: #f1f3f6;
}

.back-link {
    float: left;
    margin: 10px;
}

.btn-primary {
    background-color: #34495e;    
}

.login-container {
    max-width: 420px;
    margin: auto;
    padding-top: 6%;
}

.m-b-md {
    margin-bottom: 20px;
}

.hpanel {    
    margin-bottom: 25px;
}

.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.form-control {
    border-color: #e4e5e7 !important;
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none;
}

.btn-success {
    background-color: #62cb31;
    border-color: #62cb31;
    color: #FFFFFF;
}
.btn {
    border-radius: 3px;
}

.btn-default {
    background-color: #fff;
    border-color: #e4e5e7;
    color: #6a6c6f;
}

.icheckbox, .iradio {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    height: 22px;
}

.register-container {
    max-width: 720px;
    margin: auto;
    padding-top: 6%;
}