<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Knowledge base</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        
        <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/css/main.css" rel="stylesheet" />
        <script src="~/Scripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <a name="top"></a>

    <!-- child of the body tag -->
    <span id="top-link-block" class="hidden">
        <a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
            <i class="glyphicon glyphicon-chevron-up"></i> Top
        </a>
    </span><!-- /top-link-block -->


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              Knowledge Base</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="form">
                <input type="search" class="form-control" placeholder="Search" id="search" >
            </form>
            <ul class="nav navbar-nav navbar-right" style="margin-top:8px; padding:0px 15px">
                  <li class="dropdown">
                     <button type="submit" id="addArticleButton" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                     </button>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" accept-charset="UTF-8" id="add-articleForm">
                                    <div class="form-group">
                                       <label class="sr-only" for="name">Article Name</label>
                                       <input type="text" class="form-control" id="name" name="name" placeholder="Article Name" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="tag">Tag</label>
                                       <input type="text" list="tags" class="form-control" id="tag" name="tag" placeholder="Tag" required>
                                    </div>
                                     <div class="form-group">
                                       <label class="sr-only" for="link">Link</label>
                                       <input type="text" class="form-control" id="link" name="link" placeholder="Link" required>
                                    </div>
                                     <div class="form-group">
                                       <label class="sr-only" for="description">Description</label>
                                       <textarea rows="3" class="form-control" id="description" name="description" placeholder="Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-success btn-block">Add</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>   

    <div class="container">
      @RenderBody()
    </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/Scripts/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="~/Scripts/vendor/bootstrap.min.js"></script>
        <script src="~/Scripts/vendor/jquery.bootstrap-autohidingnavbar.js"></script>
        <script src="~/Scripts/vendor/shortcut.js"></script>

        <script src="~/Scripts/main.js"></script>
        <script src="~/Scripts/app/serializeObject.js"></script>
        <script src="~/Scripts/app/myShortcuts.js"></script>
        @RenderSection("pagescripts", false)
        <script>
            // Only enable if the document has a long scroll bar
            // Note the window height + offset
            if (($(window).height() + 100) < $(document).height()) {
                $('#top-link-block').removeClass('hidden').affix({
                    // how far to scroll down before link "slides" into view
                    offset: { top: 100 }
                });
            }
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        -->
    </body>
</html>
